:root{
    --text-color: rgb(145, 141, 141);
    --dark-blue: hsl(223, 47%, 23%);
    --destaurted-blue:  hsl(224, 23%, 55%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
}
body{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 99.9vw 40vh;
    background-color:#DBEAFE;
    font-family: 'Red Hat Display', sans-serif;
}
.card{
    margin: 8vh auto;
    height: 80vh;
    width: 350px;
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0px 0px 10px 1px #c5bebe;
}
.container{
    padding: 0.5em 1.5em 0.5em 1.5em;
}
img{
    max-width: 350px;
    max-height: 300px;
    border-radius: 20px 20px 0 0;   
}
.plain-section{
    /* padding: 0.5em 1.5em 0.5em 1.5em; */
}
section h1{
    text-align: center;
}
section p{
    text-align: center;
    color: var(--text-color);
}
section a{
    color: var(--bright-blue);
    float: right;
    padding: 12px 0;
}
.off-white{
    border-radius: 10px;
    background-color: rgb(245, 238, 238); 
    padding: 0.5em 0.8em 0.5em 0.8em; 
}
.music-img{
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}
.primary-btn{
    padding: 0.8em 6.7em;
    max-width: 300px;
    margin-top: 2em;
    border: none;
    border-radius: 10px;
    background-color: var(--bright-blue);
    color: var(--pale-blue);
    box-shadow: 0px 0px 10px 1px #c5bebe;
}
.secondary-link{
   text-align: center;
   margin-top: 0.5em;
   
}
.secondary-link a{
    color: var(--text-color);
    text-decoration: none;
}
.primary-btn:hover{
    background-color: var(--destaurted-blue);
}
section a:hover{
    color: var(--destaurted-blue);
}
.secondary-link a:hover{
    color: black;
}
