:root{
    --text-color: rgb(145, 141, 141);
}
body{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 99.9vw 40vh;
    background-color:#DBEAFE;
}
.card{
    margin: 15vh auto;
    height: 80vh;
    width: 350px;
    background-color: white;
    /* border: 1px solid red;*/
    border-radius: 20px 20px 0 0; 
}
img{
    max-width: 350px;
    max-height: 300px;
    border-radius: 20px 20px 0 0;   
}
.plain-section{
    padding: 0.5em 1.5em 0.5em 1.5em;
}
section h1{
    text-align: center;
}
section p{
    text-align: center;
    color: var(--text-color);
}
section a{
    color: rgb(26, 26, 206);
    float: right;
    padding: 12px 0;
}
.off-white{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: rgb(245, 238, 238); 
    padding: 0.5em 0.8em 0.5em 0.8em;
}
.music-img{
    max-width: 50px;
    max-height: 50px;
    vertical-align: top;
}
